name: TwitterBioUpdate

on:
  push:
    branches:
      - master
  schedule:
    - cron: '*/60 * * * *'
      
jobs:
  job:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
    - uses: actions/checkout@v1
    - name: Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.7'
    - name: Ruby Gem
      uses: actions/setup-ruby@v1
      with:
        ruby-version: '2.x'
    - name: Install
      run: |
        pip install -r requirements.txt
        gem install twurl
    - name: Update
      run: |
        echo "${{ secrets.TWURLRC }}" >> ~/.twurlrc
        export BIO="'$(python -m main)'"
        echo $BIO
        twurl -d $BIO /1.1/account/update_profile.json
        
